version: '2'

services:

    wiki-mongo:
        image: mongo:3.2
        stdin_open: true
        tty: true
        command: mongod --smallfiles --oplogSize 128
        ports:
            - "27017:27017"
        volumes:
             - ./data/mongo:/data/db
    wiki-js:
        image: 'requarks/wiki:latest'
        volumes:
            - ./data/data:/usr/src/app/data
            - ./data/repo:/usr/src/app/repo
            - ./data/config.yml:/usr/src/app/config.yml
        links:
            - wiki-mongo:mongo
        ports:
            - "3000:3000"
            - "80:80"
        expose: 
            - "80"
        environment:
            - PORT=3000
